//fonts
$mf: 'ProximaNS',
sans-serif;
$mfb: 'ProximaNB',
sans-serif;
$tf: 'PT Sans',
sans-serif;
//color
$header__bg: #9f9acf;
$body__bg: #ebebeb;
// grid
$width-sm: 576px;
$width-md: 824px;
$width-lg: 992px;