.map {
    position: relative;
    &__wrapper {
        position: absolute;
        @include size(100%, 100vh);
        @include pos($t: 0, $l: 0);
        &:before {
            @extend .filter;
            z-index: 1;
            opacity: .5;
            pointer-events: none;
        }
    }
}

.container--map {
    position: relative;
    z-index: 3;
    @include size(100%, 100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: $width-md) {
        justify-content: space-between;
    }
    &.row {
        margin: 0;
    }
    .team__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
}

.info {
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all .6s;
        @include size(20rem, 5rem);
        margin: 0 0 1rem 0;
        &:nth-child(1) {
            @include pos($t: 20vh, $r: -15rem);
        }
        &:nth-child(2) {
            @include pos($t: 30vh, $r: -15rem);
        }
        &--ico {
            @include size(6rem, 5rem);
            object-fit: contain;
            padding: 1.2rem;
            background: $header__bg;
        }
        &--text {
            @include size(100%, 100%);
            padding: 1rem;
            font-size: 1.2rem;
            text-align: center;
            background: rgba(255, 255, 255, .5);
        }
        &--active {
            right: 0 !important;
        }
    }
}

.input__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    .input {
        width: 49%;
    }
}

.form-group {
    width: 80%;
    @media (min-width: $width-md) {
        width: 50%;
        height: 25rem;
        opacity: .6;
    }
}

.form__button {
    margin: 1rem;
    @include size(20rem, 4rem);
    border-radius: 15px 15px 15px 15px;
    background: $header__bg;
    box-shadow: 0 9px #999;
    &:active {
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
}

.input {
    position: relative;
    // input:focus {
    //     .placeholder {
    //         opacity: 0;
    //     }
    // }
}

.placeholder {
    @include pos($t: 20%, $l: 1rem);
    font-style: italic;
    .mark {
        color: $header__bg;
        font-size: 1.2rem;
        font-weight: 600;
        background: transparent;
    }
}

.my-textarea {
    resize: none;
}

#map {
    width: 100%;
    height: 100%;
}