    #btn__top {
        @include size(4rem);
        z-index: 3;
        @include pos($b: 8rem, $r: 5rem);
        position: fixed;
        transition: all .6s;
        opacity: 0;
        outline: none;
        background: rgba(159, 154, 207, .5) url('../images/icons/arrow-black.png') no-repeat center center;
        background-blend-mode: darken;
        background-size: 30%;
        transform: rotateZ(-90deg);
        &:hover {
            background: rgba(159, 154, 207, 1) url('../images/icons/arrow-black.png') no-repeat center center;
            background-size: 30%;
        }
        &:focus {
            outline: none;
        }
    }