    #btn__top {
        background-color: #665f60;
        @include size(4rem);
        z-index: 3;
        @include pos($b: 5rem, $r: 5rem);
        position: fixed;
        transition: all 1s;
        opacity: 0;
        outline: none;
        background: rgba(0, 0, 0, .5) url('../images/icons/arrow-black-top.png') no-repeat center center;
        background-blend-mode: darken;
        background-size: 80%;
        &:focus {
            outline: none;
        }
    }