// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$about-name: 'about';
$about-x: 132px;
$about-y: 66px;
$about-offset-x: -132px;
$about-offset-y: -66px;
$about-width: 50px;
$about-height: 54px;
$about-total-width: 275px;
$about-total-height: 232px;
$about-image: 'sprite.png';
$about: (132px, 66px, -132px, -66px, 50px, 54px, 275px, 232px, 'sprite.png', 'about', );
$arrow-black-name: 'arrow-black';
$arrow-black-x: 0px;
$arrow-black-y: 194px;
$arrow-black-offset-x: 0px;
$arrow-black-offset-y: -194px;
$arrow-black-width: 22px;
$arrow-black-height: 38px;
$arrow-black-total-width: 275px;
$arrow-black-total-height: 232px;
$arrow-black-image: 'sprite.png';
$arrow-black: (0px, 194px, 0px, -194px, 22px, 38px, 275px, 232px, 'sprite.png', 'arrow-black', );
$arrow-white-name: 'arrow-white';
$arrow-white-x: 27px;
$arrow-white-y: 194px;
$arrow-white-offset-x: -27px;
$arrow-white-offset-y: -194px;
$arrow-white-width: 22px;
$arrow-white-height: 38px;
$arrow-white-total-width: 275px;
$arrow-white-total-height: 232px;
$arrow-white-image: 'sprite.png';
$arrow-white: (27px, 194px, -27px, -194px, 22px, 38px, 275px, 232px, 'sprite.png', 'arrow-white', );
$behance-name: 'behance';
$behance-x: 239px;
$behance-y: 140px;
$behance-offset-x: -239px;
$behance-offset-y: -140px;
$behance-width: 32px;
$behance-height: 32px;
$behance-total-width: 275px;
$behance-total-height: 232px;
$behance-image: 'sprite.png';
$behance: (239px, 140px, -239px, -140px, 32px, 32px, 275px, 232px, 'sprite.png', 'behance', );
$design-name: 'design';
$design-x: 187px;
$design-y: 0px;
$design-offset-x: -187px;
$design-offset-y: 0px;
$design-width: 47px;
$design-height: 61px;
$design-total-width: 275px;
$design-total-height: 232px;
$design-image: 'sprite.png';
$design: (187px, 0px, -187px, 0px, 47px, 61px, 275px, 232px, 'sprite.png', 'design', );
$facebook-name: 'facebook';
$facebook-x: 239px;
$facebook-y: 103px;
$facebook-offset-x: -239px;
$facebook-offset-y: -103px;
$facebook-width: 32px;
$facebook-height: 32px;
$facebook-total-width: 275px;
$facebook-total-height: 232px;
$facebook-image: 'sprite.png';
$facebook: (239px, 103px, -239px, -103px, 32px, 32px, 275px, 232px, 'sprite.png', 'facebook', );
$google-name: 'google';
$google-x: 92px;
$google-y: 129px;
$google-offset-x: -92px;
$google-offset-y: -129px;
$google-width: 32px;
$google-height: 32px;
$google-total-width: 275px;
$google-total-height: 232px;
$google-image: 'sprite.png';
$google: (92px, 129px, -92px, -129px, 32px, 32px, 275px, 232px, 'sprite.png', 'google', );
$house-name: 'house';
$house-x: 187px;
$house-y: 66px;
$house-offset-x: -187px;
$house-offset-y: -66px;
$house-width: 38px;
$house-height: 36px;
$house-total-width: 275px;
$house-total-height: 232px;
$house-image: 'sprite.png';
$house: (187px, 66px, -187px, -66px, 38px, 36px, 275px, 232px, 'sprite.png', 'house', );
$linkedin-name: 'linkedin';
$linkedin-x: 239px;
$linkedin-y: 66px;
$linkedin-offset-x: -239px;
$linkedin-offset-y: -66px;
$linkedin-width: 32px;
$linkedin-height: 32px;
$linkedin-total-width: 275px;
$linkedin-total-height: 232px;
$linkedin-image: 'sprite.png';
$linkedin: (239px, 66px, -239px, -66px, 32px, 32px, 275px, 232px, 'sprite.png', 'linkedin', );
$marker-name: 'marker';
$marker-x: 0px;
$marker-y: 129px;
$marker-offset-x: 0px;
$marker-offset-y: -129px;
$marker-width: 42px;
$marker-height: 60px;
$marker-total-width: 275px;
$marker-total-height: 232px;
$marker-image: 'sprite.png';
$marker: (0px, 129px, 0px, -129px, 42px, 60px, 275px, 232px, 'sprite.png', 'marker', );
$mobile-name: 'mobile';
$mobile-x: 54px;
$mobile-y: 194px;
$mobile-offset-x: -54px;
$mobile-offset-y: -194px;
$mobile-width: 20px;
$mobile-height: 34px;
$mobile-total-width: 275px;
$mobile-total-height: 232px;
$mobile-image: 'sprite.png';
$mobile: (54px, 194px, -54px, -194px, 20px, 34px, 275px, 232px, 'sprite.png', 'mobile', );
$phone-name: 'phone';
$phone-x: 239px;
$phone-y: 0px;
$phone-offset-x: -239px;
$phone-offset-y: 0px;
$phone-width: 36px;
$phone-height: 61px;
$phone-total-width: 275px;
$phone-total-height: 232px;
$phone-image: 'sprite.png';
$phone: (239px, 0px, -239px, 0px, 36px, 61px, 275px, 232px, 'sprite.png', 'phone', );
$seo-name: 'seo';
$seo-x: 132px;
$seo-y: 0px;
$seo-offset-x: -132px;
$seo-offset-y: 0px;
$seo-width: 50px;
$seo-height: 61px;
$seo-total-width: 275px;
$seo-total-height: 232px;
$seo-image: 'sprite.png';
$seo: (132px, 0px, -132px, 0px, 50px, 61px, 275px, 232px, 'sprite.png', 'seo', );
$services-name: 'services';
$services-x: 0px;
$services-y: 0px;
$services-offset-x: 0px;
$services-offset-y: 0px;
$services-width: 62px;
$services-height: 60px;
$services-total-width: 275px;
$services-total-height: 232px;
$services-image: 'sprite.png';
$services: (0px, 0px, 0px, 0px, 62px, 60px, 275px, 232px, 'sprite.png', 'services', );
$team-name: 'team';
$team-x: 67px;
$team-y: 0px;
$team-offset-x: -67px;
$team-offset-y: 0px;
$team-width: 60px;
$team-height: 60px;
$team-total-width: 275px;
$team-total-height: 232px;
$team-image: 'sprite.png';
$team: (67px, 0px, -67px, 0px, 60px, 60px, 275px, 232px, 'sprite.png', 'team', );
$twitter-name: 'twitter';
$twitter-x: 63px;
$twitter-y: 65px;
$twitter-offset-x: -63px;
$twitter-offset-y: -65px;
$twitter-width: 32px;
$twitter-height: 32px;
$twitter-total-width: 275px;
$twitter-total-height: 232px;
$twitter-image: 'sprite.png';
$twitter: (63px, 65px, -63px, -65px, 32px, 32px, 275px, 232px, 'sprite.png', 'twitter', );
$web-name: 'web';
$web-x: 0px;
$web-y: 65px;
$web-offset-x: 0px;
$web-offset-y: -65px;
$web-width: 58px;
$web-height: 59px;
$web-total-width: 275px;
$web-total-height: 232px;
$web-image: 'sprite.png';
$web: (0px, 65px, 0px, -65px, 58px, 59px, 275px, 232px, 'sprite.png', 'web', );
$works-name: 'works';
$works-x: 47px;
$works-y: 129px;
$works-offset-x: -47px;
$works-offset-y: -129px;
$works-width: 40px;
$works-height: 60px;
$works-total-width: 275px;
$works-total-height: 232px;
$works-image: 'sprite.png';
$works: (47px, 129px, -47px, -129px, 40px, 60px, 275px, 232px, 'sprite.png', 'works', );
$spritesheet-width: 275px;
$spritesheet-height: 232px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($about, $arrow-black, $arrow-white, $behance, $design, $facebook, $google, $house, $linkedin, $marker, $mobile, $phone, $seo, $services, $team, $twitter, $web, $works, );
$spritesheet: (275px, 232px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
